module.exports = {
  reactStrictMode: true,
  env: {
    DB_LOCAL_URI: "",
    DB_URI: "",

    STRIPE_API_KEY: "",
    STRIPE_SECRET_KEY:  "",

    STRIPE_WEBHOOK_SECRET: "",

    CLOUDINARY_CLOUD_NAME: "",
    CLOUDINARY_API_KEY: "",
    CLOUDINARY_SECRET: "",
    SMTP_HOST: "",
    SMTP_PORT: "",
    SMTP_USER: "",
    SMTP_PASSWORD: "",
    SMTP_FROM_NAME: "",
    SMTP_FROM_EMAIL: "",

    NEXT_AUTH_URL: "",
  },
  images: {
    domains: [],
  },
};
